@charset "UTF-8";
/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Raleway Bold"), local("Raleway-Bold"), url("../fonts/raleway-v16-latin-700.woff2") format("woff2"), url("../fonts/raleway-v16-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: #757575;
}

.link {
  display: block;
  text-decoration: none;
  outline-color: #2196f3;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* For Hero */
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 1;
  }
}

/* For Features */
@keyframes rotateIn {
  0% {
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/* For Team */
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* For Customers */
@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  color: #000000;
  transform: scale(1);
  transform-origin: bottom center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover, .logo:focus {
  color: #2196f3;
  transform: scale(1.1);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-accent {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover .logo-accent,
.logo:focus .logo-accent {
  color: #000000;
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
  }
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  /* border-color: transparent; */
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transform: scale(1);
  transform-origin: bottom center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal-btn:hover, .modal-btn:focus {
  background-color: #188ce8;
  transform: scale(1.1);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-item-link {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 12px;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  background-color: #ffffff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item-link:hover, .social-list-item-link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-list-icon:hover, .social-list-icon:focus {
  fill: currentColor;
}

/* Шапка сайта */
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-list-item-link,
.header-address-list-item-link {
  display: block;
  letter-spacing: 0.02em;
  color: #212121;
  transform: scale(1);
  transform-origin: bottom center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-item-link:hover, .navigation-list-item-link:focus,
.header-address-list-item-link:hover,
.header-address-list-item-link:focus {
  color: #2196f3;
  transform: scale(1.1);
}

.navigation-list-item-link.current {
  position: relative;
  color: #2196f3;
}

.navigation-list-item-link.current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  color: #2196f3;
  background-color: currentColor;
  border-radius: 2px;
}

.header-address-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #757575;
}

.icon-address {
  margin-right: 10px;
  fill: currentColor;
}

.icon-address.envelope {
  width: 16px;
  height: 11px;
}

.icon-address.smartphone {
  width: 10px;
  height: 15px;
}

@media screen and (max-width: 767px) {
  body {
    padding-top: 60px;
  }
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 60px;
    background-color: inherit;
    z-index: 50;
  }
  /* Кнопка открытия/закрытия мобильного меню */
  .menu-btn {
    display: flex;
    margin: 0;
    padding: 10px 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline-color: #2196f3;
  }
  .menu-btn:hover .icon-close-menu,
  .menu-btn:focus .icon-close-menu {
    fill: #2196f3;
  }
  .menu-btn.is-open:hover .icon-menu,
  .menu-btn.is-open:focus .icon-menu {
    fill: #2196f3;
  }
  .menu-btn.is-open .icon-close-menu,
  .menu-btn .icon-menu {
    opacity: 1;
    transform: scale(1);
    transform-origin: center;
    fill: #000000;
  }
  .menu-btn.is-open .icon-menu,
  .menu-btn .icon-close-menu {
    opacity: 0;
    transform: scale(0);
    transform-origin: center;
    fill: #2196f3;
  }
  .icon-close-menu,
  .icon-menu {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 150ms, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 150ms;
  }
  /* Меню */
  .menu-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    border-top: 1px solid #ececec;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-wrapper.is-open {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  .navigation-list {
    margin-bottom: 60px;
  }
  .navigation-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .header-address-list-item:not(:last-child) {
    margin-bottom: 16px;
  }
  .navigation-list-item-link,
  .header-address-list-item-link {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
  }
  .navigation-list-item-link.current::after {
    bottom: -8px;
  }
}

@media screen and (min-width: 768px) {
  .menu-wrapper,
  .navigation-list {
    display: flex;
    align-items: center;
  }
  .header-address-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .menu-wrapper.section {
    padding: 0;
  }
  .navigation-list-item-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation {
    margin-right: 84px;
  }
  .header-address-list-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .menu-btn {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-address-list-item-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
  }
}

@media screen and (min-width: 1200px) {
  .header .container {
    justify-content: flex-start;
  }
  .header-address-list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .header-address-list-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .header-address-list-item-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
  .header .logo {
    margin-right: 85px;
  }
  .navigation {
    margin-right: 305px;
  }
}

/* Секция Герой */
.hero {
  margin: 0 auto;
  text-align: center;
  max-width: 480px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img/hero-mob.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #c4c4c4;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img/hero-mob@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img/hero-mob@3x.jpg);
  }
}

.hero .modal-btn {
  padding: 10px 32px;
}

.hero-title {
  margin-bottom: 30px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  animation: zoomIn 1500ms linear;
}

@media screen and (max-width: 1200px) {
  .hero .container {
    padding-top: 118px;
    padding-bottom: 118px;
  }
  .hero-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img/hero-tabl.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img/hero-tabl@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img/hero-tabl@3x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img/hero-desk.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img/hero-desk@2x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img/hero-desk@3x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero .container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

/* Особенности */
.icon-features {
  width: 70px;
  height: 70px;
}

.features-icon-box:hover .icon-features {
  animation: rotateIn 1000ms;
}

.features-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  height: 120px;
  background-color: #f5f4fa;
}

.features-subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

.features-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (max-width: 767px) {
  .features-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .features-subtitle {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
  .features-list-item {
    flex-basis: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .features-list-item:nth-child(2n) {
    margin-right: 0;
  }
  .features-list-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    display: flex;
    justify-content: space-between;
  }
  .features-list-item {
    width: 270px;
  }
  .features-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

/* Деятельность */
@media screen and (max-width: 1199px) {
  .activity {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .activity.section {
    padding-top: 0;
  }
  .activity-list {
    display: flex;
    justify-content: space-between;
  }
  .activity-list-item {
    position: relative;
    width: calc((100% - 60px) / 3);
  }
  .activity-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .activity-list-item-description {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
  }
}

/* Команда */
.team {
  background-color: #f5f4fa;
}

.team-list-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item-info {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
  overflow: hidden;
}

.team-list-item-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
}

.team-list-item:hover .team-list-item-name {
  animation: fadeInLeft 1000ms;
}

.team-list-item-position {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
}

.team-list-item:hover .team-list-item-position {
  animation: fadeInRight 1000ms;
}

@media screen and (max-width: 767px) {
  .team-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
  .team-list-item {
    flex-basis: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .team-list-item:nth-child(2n) {
    margin-right: 0;
  }
  .team-list-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
  .team-thumb {
    width: 354px;
    height: 374px;
  }
  .team-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    justify-content: space-between;
  }
  .team-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .team-list-item-info {
    padding: 30px 32px;
  }
  .team-thumb {
    width: 270px;
    height: 260px;
  }
  .team-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Постоянные клиенты */
.customers-list {
  display: flex;
}

.customers-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  outline: none;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-item-link:hover, .customers-list-item-link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.icon-client-logo {
  fill: currentColor;
}

.icon-client-logo:hover, .icon-client-logo:focus {
  fill: currentColor;
}

.customers-list-item-link:hover .icon-client-logo,
.customers-list-item-link:focus .icon-client-logo {
  animation: swing 1500ms;
  transform-origin: top center;
}

@media screen and (max-width: 1199px) {
  .customers-list {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .customers-list-item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .customers-list-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .customers-list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers-list-item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .customers-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .customers-list-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .customers-list-item {
    flex-basis: calc((100% - 150px) / 6);
  }
  .customers-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

/* Логотип в подвале */
.logo.inverse {
  margin-bottom: 20px;
  color: #ffffff;
  transform-origin: top left;
}

@media screen and (max-width: 1199px) {
  .logo.inverse {
    transform-origin: top center;
  }
}

.logo.inverse:hover, .logo.inverse:focus {
  color: #2196f3;
}

.logo.inverse:hover .logo-accent,
.logo.inverse:focus .logo-accent {
  color: #ffffff;
}

/* Подвал */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (max-width: 1199px) {
  .footer > .container {
    text-align: center;
  }
  .footer .holder:not(:last-child) {
    margin-bottom: 60px;
  }
}

/* Футер адресс контейнер */
.footer-address-list-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-address-list-item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transform: scale(1);
  transform-origin: top left;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .footer-address-list-item-link {
    transform-origin: top center;
  }
}

.footer-address-list-item-link.location {
  color: #ffffff;
}

.footer-address-list-item-link:hover, .footer-address-list-item-link:focus {
  color: #2196f3;
  transform: scale(1.1);
}

/* Футер социал.ссылки контейнер */
.footer-social-list-container .text,
.footer-form-container .text {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.footer .social-list-item-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .social-list-item-link:hover, .footer .social-list-item-link:focus {
  background-color: #2196f3;
}

.footer .social-list-icon {
  fill: #ffffff;
}

/* Футер форм контейнер */
.footer-form {
  color: #ffffff;
}

.footer-form-input {
  padding: 15px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-text-fill-color: #ffffff;
  box-shadow: inset 0 0 0 50px #2f303a;
  outline: none;
  caret-color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199px) {
  .footer-form-input {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer-form-input {
    width: 100%;
  }
}

.footer-form-input:valid {
  border: 1px solid #2196f3;
}

.footer-form-input:invalid:not(:placeholder-shown) {
  border: 1px solid #ff0000;
}

.footer-form-input::placeholder {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
}

.footer .modal-btn {
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 10px 28px;
  transform-origin: center;
}

@media screen and (max-width: 1199px) {
  .footer .modal-btn {
    transform-origin: top center;
  }
}

.subscribe {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .footer-address-container,
  .footer-social-list-container {
    flex-basis: 50%;
  }
  .footer-form-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .holder:not(:last-child) {
    margin-right: 30px;
  }
  .footer-address-container,
  .footer-social-list-container {
    flex-basis: 25%;
  }
  .footer .social-list {
    justify-content: flex-start;
  }
  .footer-form-container {
    flex-basis: 50%;
  }
  .footer-form {
    display: flex;
    align-items: center;
  }
  .footer-form-input {
    margin-right: 12px;
    width: 358px;
  }
}

/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 55;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 40px;
  background-color: #ffffff;
  color: #212121;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .modal {
    width: calc(100vw - 30px);
    padding: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, 50%);
}

.modal-form {
  position: relative;
}

.modal-form-text {
  display: block;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal-form-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 479px) {
  .modal-form-text {
    margin-bottom: 15px;
  }
}

.modal-form-input,
.modal-form-message {
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  /* чтоб при автозаполнении цвет бекграунда оставался белым */
  box-shadow: 0 0 0 1000px #ffffff inset;
  caret-color: #2196f3;
}

.modal-form-input:focus,
.modal-form-message:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form-field {
  position: relative;
  margin-bottom: 28px;
}

@media screen and (max-width: 479px) {
  .form-field {
    margin-bottom: 15px;
  }
}

.modal-form-label,
.modal-message-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-label,
.modal-form-input:not(:placeholder-shown) + .modal-form-label,
.modal-form-message:focus + .modal-message-label,
.modal-form-message:not(:placeholder-shown) + .modal-message-label {
  font-size: 12px;
  line-height: 1.17;
  transform: translate(-26px, -40px);
  color: #2196f3;
}

@media screen and (max-width: 479px) {
  .modal-form-input:focus + .modal-form-label,
  .modal-form-input:not(:placeholder-shown) + .modal-form-label,
  .modal-form-message:focus + .modal-message-label,
  .modal-form-message:not(:placeholder-shown) + .modal-message-label {
    transform: translate(-26px, -35px);
  }
}

.modal-message-label {
  top: 20px;
  left: 16px;
}

.modal-form-message:focus + .modal-message-label,
.modal-form-message:not(:placeholder-shown) + .modal-message-label {
  transform: translateY(-40px);
}

@media screen and (max-width: 479px) {
  .modal-form-message:focus + .modal-message-label,
  .modal-form-message:not(:placeholder-shown) + .modal-message-label {
    transform: translateY(-35px);
  }
}

.form-field-message {
  position: relative;
  margin-bottom: 20px;
}

@media screen and (max-width: 479px) {
  .form-field-message {
    margin-bottom: 15px;
  }
}

.modal-form-message {
  height: 120px;
  padding-left: 16px;
  resize: none;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus ~ .modal-form-icon,
.modal-form-input:not(:placeholder-shown) ~ .modal-form-icon {
  fill: #2196f3;
}

.modal-form-policy-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

@media screen and (max-width: 479px) {
  .modal-form-policy-label {
    margin-bottom: 15px;
  }
}

.modal-form-policy-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

@media screen and (max-width: 1199px) {
  .modal-form-policy-desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.166;
  }
}

.modal-form-policy-link {
  color: #2196f3;
}

.modal-form-policy-icon-span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-policy-input:checked + .modal-form-policy-icon-span {
  background-color: #2196f3;
  border: 2px solid #2196f3;
  /* 2-ой способ вставить кастомный чекбокс вместо инлайн свг(спрайт) */
  /* background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box; */
}

.modal-form-policy-icon {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 2;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  padding: 6px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.modal-form-icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover .modal-form-icon-close,
.button-close:focus .modal-form-icon-close {
  fill: #2196f3;
}

.form-btn {
  padding: 10px 55px;
}

.form-btn:hover, .form-btn:focus {
  transform: scale(1);
}

/* 2-ой способ скрыть инпуты для кастомных чекбоксов (вместо вижуали хидден) */
/* .modal-form-policy-input {
-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; 
} */
/*# sourceMappingURL=main.css.map */