@charset "UTF-8";
/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Raleway Bold"), local("Raleway-Bold"), url("../fonts/raleway-v16-latin-700.woff2") format("woff2"), url("../fonts/raleway-v16-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: #757575;
}

.link {
  display: block;
  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  /* outline: 2px solid turquoise; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.logo {
  margin-right: 85px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  transform: scale(1);
  transform-origin: bottom center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover, .logo:focus {
  color: #2196f3;
  transform: scale(1.1);
}

.logo-accent {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover .logo-accent,
.logo:focus .logo-accent {
  color: #000000;
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  /* border-color: transparent; */
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transform: scale(1);
  transform-origin: bottom center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal-btn:hover, .modal-btn:focus {
  background-color: #188ce8;
  transform: scale(1.1);
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-item-link {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 12px;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  background-color: #ffffff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item-link:hover, .social-list-item-link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-list-icon:hover, .social-list-icon:focus {
  fill: currentColor;
}

/* Шапка сайта */
/* чтоб зафиксировать хедер */
/* .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 80px;

  background-color: inherit;
  z-index: 555;
} */
.header > .container,
.navigation,
.navigation-list,
.header-address-list {
  display: flex;
  align-items: center;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.header-address-list-item:not(:last-child) {
  margin-right: 30px;
}

.header-address-list {
  margin-left: auto;
}

.navigation-list-item .link,
.header-address-list-item .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-list-item-link,
.header-address-list-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transform: scale(1);
  transform-origin: bottom center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-item-link:hover, .navigation-list-item-link:focus,
.header-address-list-item-link:hover,
.header-address-list-item-link:focus {
  color: #2196f3;
  transform: scale(1.1);
}

.navigation-list-item-link.current {
  position: relative;
  /* padding-bottom: 0px; */
  color: #2196f3;
}

.navigation-list-item-link.current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  /* margin-top: 28px; */
  width: 100%;
  height: 4px;
  color: #2196f3;
  background-color: currentColor;
  border-radius: 2px;
}

.header-address-list-item-link {
  display: flex;
  align-items: center;
  color: #757575;
}

.icon-address {
  margin-right: 10px;
  fill: currentColor;
}

.icon-address.envelope {
  width: 16px;
  height: 11px;
}

.icon-address.smartphone {
  width: 10px;
  height: 15px;
}

/* 2-ой способ чтоб иконка меняла цвет при наведении на ссылку */
/* .header-address-list-item-link:hover .icon-address {
  fill: $accent-color;
} */
/* Портфолио */
.header.second-page {
  border-bottom: 1px solid #ececec;
}

.portfolio-list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-list-btn-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  /* border-color: transparent; */
  border: none;
  transform: scale(1);
  transform-origin: bottom center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.portfolio-btn:hover, .portfolio-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-list-item:hover, .portfolio-list-item:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio-list-item-img-content {
  position: relative;
  overflow: hidden;
}

.portfolio-list-item-text-content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-list-item-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-list-item-name {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.portfolio-list-item-description {
  position: absolute;
  top: 100%;
  /* альтернативный вариант вместо top: 100%; и тогда изменить при ховере ниже на transform: translateY(0); */
  /* transform: translateY(100%); */
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item-link:hover .portfolio-list-item-description,
.portfolio-list-item-link:focus .portfolio-list-item-description {
  transform: translateY(-100%);
  /* альтернативный вариант transform: translateY(0); если выше указали transform: translateY(100%); */
}

/* Логотип в подвале */
.logo.inverse {
  margin-bottom: 20px;
  margin-right: 0;
  color: #ffffff;
  transform-origin: top left;
}

.logo.inverse:hover, .logo.inverse:focus {
  color: #2196f3;
}

.logo.inverse:hover .logo-accent,
.logo.inverse:focus .logo-accent {
  color: #ffffff;
}

/* Подвал */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer > .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer .holder:not(:last-child) {
  margin-right: 30px;
}

.footer-address-container,
.footer-social-list-container {
  flex-basis: 25%;
}

.footer-form-container {
  flex-basis: 50%;
}

/* Футер адресс контейнер */
.footer-address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address-list-item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transform: scale(1);
  transform-origin: top left;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-list-item-link.location {
  color: #ffffff;
}

.footer-address-list-item-link:hover, .footer-address-list-item-link:focus {
  color: #2196f3;
  transform: scale(1.1);
}

/* Футер социал.ссылки контейнер */
.footer .social-list {
  width: 206px;
}

.footer-social-list-container .text,
.footer-form-container .text {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.footer .social-list-item-link {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .social-list-item-link:hover, .footer .social-list-item-link:focus {
  background-color: #2196f3;
}

.footer .social-list-icon {
  fill: #ffffff;
}

/* Футер форм контейнер */
.footer-form {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.footer-form-input {
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-text-fill-color: #ffffff;
  box-shadow: inset 0 0 0 50px #2f303a;
  outline: none;
  caret-color: rgba(255, 255, 255, 0.6);
}

.footer-form-input:valid {
  border: 1px solid #2196f3;
}

.footer-form-input:invalid:not(:placeholder-shown) {
  border: 1px solid #ff0000;
}

.footer-form-input::placeholder {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
}

.footer .modal-btn {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  transform-origin: top left;
}

.subscribe {
  margin-right: 10px;
}
/*# sourceMappingURL=portfolio.css.map */