@import './base/fonts';
@import './utils/variables';
@import './base/base';
@import './components/container';
@import './components/section';
@import './utils/visually-hidden';
@import './utils/mixins';

@import './components/logo';
@import './components/title';
@import './components/modal-btn';
@import './components/social-list';

@import './layout/header';

@import './layout/hero';
@import './layout/features';
@import './layout/activity';
@import './layout/team';
@import './layout/customers';

@import './layout/footer';

@import './components/modal';
