/* Деятельность */
@media screen and (max-width: 1199px) {
  .activity {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .activity.section {
    padding-top: 0;
  }

  .activity-list {
    display: flex;
    justify-content: space-between;
  }

  .activity-list-item {
    position: relative;

    width: calc((100% - 60px) / 3);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .activity-list-item-description {
    position: absolute;
    bottom: 0;
    width: 100%;

    padding-top: 27px;
    padding-bottom: 27px;

    @include fontData(700, 14px, 1.14);

    text-align: center;
    text-transform: uppercase;
    color: $secondary-text-color;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
