/* Постоянные клиенты */
.customers-list {
  display: flex;
}

.customers-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  outline: none;
  color: #afb1b8;

  transition: color 250ms $transition-timing-function,
    border 250ms $transition-timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
    border: 1px solid $accent-color;
  }
}

.icon-client-logo {
  fill: currentColor;

  &:hover,
  &:focus {
    fill: currentColor;
  }

  .customers-list-item-link:hover &,
  .customers-list-item-link:focus & {
    animation: swing 1500ms;
    transform-origin: top center;
  }
}

@media screen and (max-width: 1199px) {
  .customers-list {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .customers-list-item {
    flex-basis: calc((100% - 30px) / 2);

    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers-list-item {
    flex-basis: calc((100% - 60px) / 3);

    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }

    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .customers-list-item {
    flex-basis: calc((100% - 150px) / 6);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
