/* Команда */
.team {
  background-color: $background-secondary-color;
}

.team-list-item {
  background-color: $background-main-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item-info {
  padding-top: 30px;
  padding-bottom: 24px;

  text-align: center;

  overflow: hidden;
}

.team-list-item-name {
  margin-bottom: 10px;

  @include fontData(500, 16px, 1.19);
  color: $title-color;

  .team-list-item:hover & {
    animation: fadeInLeft 1000ms;
  }
}

.team-list-item-position {
  margin-bottom: 16px;

  @include fontData(400, 16px, 1.19);
  color: $primary-text-color;

  .team-list-item:hover & {
    animation: fadeInRight 1000ms;
  }
}

@media screen and (max-width: 767px) {
  .team-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }

  .team-list-item {
    flex-basis: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  .team-thumb {
    width: 354px;
    height: 374px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    justify-content: space-between;
  }

  .team-list-item:not(:last-child) {
    margin-right: 30px;
  }

  .team-list-item-info {
    padding: 30px 32px;
  }

  .team-thumb {
    width: 270px;
    height: 260px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
