//  Логотип (в шапке)
.logo {
  font-family: $secondary-font;

  @include fontData(700, 24px, 1.67);

  color: #000000;

  transform: scale(1);
  transform-origin: bottom center;
  transition: transform 250ms $transition-timing-function,
    color 250ms $transition-timing-function;

  &:hover,
  &:focus {
    color: $accent-color;

    transform: scale(1.1);
  }

  @media screen and (min-width: 1200px) {
    @include fontData(700, 26px, 1.19);
  }
}

.logo-accent {
  color: $accent-color;
  transition: color 250ms $transition-timing-function;

  .logo:hover &,
  .logo:focus & {
    color: #000000;
  }
}
