$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$primary-text-color: #757575;
$secondary-text-color: #ffffff;
$title-hero-color: #ffffff;
$title-color: #212121;
$navigation-color: #212121;
$accent-color: #2196f3;
$background-main-color: #ffffff;
$background-secondary-color: #f5f4fa;
$background-footer-color: #2f303a;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
